.banner {
    background-image: url("https://images.unsplash.com/photo-1491841550275-ad7854e35ca6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 780px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .read-me-btn {
    background-color: transparent;
    border: 2px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 12px 30px;
    color: white;
    transition: background-color .5s;
}
  .read-me-btn:hover {
    background-color: lightgrey;
    color: black;
}